<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.austinabell8.studyspace">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activities.RegisterActivity"
            android:label="@string/app_name"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activities.Student.StudentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.Tutor.TutorActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.RoleActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.Student.PostCreateActivity"
            android:parentActivityName=".activities.Student.StudentActivity" />
        <activity
            android:name=".activities.Tutor.SearchActivity"
            android:parentActivityName=".activities.Tutor.PostSearchInputActivity" />
        <activity
            android:name=".activities.Tutor.PostSearchInputActivity"
            android:parentActivityName=".activities.Tutor.TutorActivity" />
        <activity
            android:name=".activities.Tutor.PostDetailsActivity"
            android:parentActivityName=".activities.Tutor.TutorActivity" />
        <activity
            android:name=".activities.Student.ApplicantListActivity"
            android:parentActivityName=".activities.Student.StudentActivity" />
        <activity android:name=".activities.UserDetailsActivity" />
        <activity android:name=".activities.ConversationActivity" />
    </application>

</manifest>